* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    background-color: darkgray;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 800px;
    height: 90%;
    overflow: auto;
}
.true-header {
    display: flex;
    justify-content: space-between;
    height: 37px;
    margin: 16px 16px 0px;
    font-size: 14px;
    text-align: center;
    font-family: "Neue Montreal", Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    row-gap: 0.5em;
}
.true-header i {
    justify-content: center;
    padding-top: 0.3em;
}
hr {
    width: 750px;
    margin-left: 20px;
}
i {
    cursor: pointer;
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "PT serif",sans-serif;
}
.upperheader {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: black; 
    color: #fbf9f9; 
    padding: 10px; 
    position: relative;
    width: 770px;
}
hr {
    width: 765px;
    margin-left: 20px;
}
.op-hr {
    width: 740px;
}
/* Icon on the left */
.upperheader i {
    position: absolute;
    left: 10px; /* Keep the icon at the far left */
}
/* Center text */
.upperheader .text {
    margin: 0; 
    font-size: 12px; 
    text-align: center; 
    width: 100%;
}
.lowerheader {
    height: 64px;
    width: 770px;
    background-color: #eeee;
    padding: 20px 25.5938px;
    text-align: center;
    color: black;
    font-size: 16px;
}
.time-content {
    display: grid;
    height: 328px;
    width: 770px;
    background-color: white; 
    padding: 20px;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.time-option {
    background-color: #334655; 
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px; 
    height: 100%; 
}

.time-option span {
    font: 13px "PT serif", sans-serif;
    color: #a8b0b7;
}

.time-footer button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;   
    width: 770px;
    height: 48px;
    background-color: #E3E8ECCC;
    padding: 7px 20.6875px;
    font: 15px "PT serif", sans-serif;
    color: black;
    border: none;    
}
.time-footer i {
    padding: 10px;
}
.main {
    height: fit-content;
    width: 770px;
    padding: 10px  0px;
}
.day {
    padding-left: 1em;
    font: 18px  "PT serif", sans-serif;
}
.option {
    width: 100%;
    padding: 7px 20.6875px;

}
.schedule {
    display: flex;
    gap: 1em;
    padding-bottom: 10px;
    padding-left: 20px;
}
.schedule-option {
    background-color: #334655; 
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px; 
    height: 100%;
    width: 120.19px; 
    margin: 5px;
}
.footer {
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 16px 16px 0px;
    font-size: 11px;
    font-family: "PT serif";
}
.footer a {
    color: black;
    text-decoration: none;
    font-family: "PT serif";
    font-size: 11px;
}

.footer a:visited,
.footer a:hover,
.footer a:active {
    color: black;
    text-decoration: none;
}